*{
  color: var(--color-a);

}


.nav{
  width: 55%;
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 2px groove var(--color-b);
  display: flex;
  justify-content: space-between;
  margin: auto;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.cover{
  
  transition: all  .5s;
  transition-timing-function: ease-in-out;
  z-index:999;

}

.cover:hover {
  position:relative;
  width: 200px;
  height: 200px;

  z-index:999;
  transition: all  .5s;
  transition-timing-function: ease-in;

}
.logo{
  box-shadow: 2px 3px 7px;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  position: relative;
  margin-top: 20px;
}
.App {
  text-align: center;
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
  margin: auto;
  height: max-content;
  min-height: 100vh;
  
}
button {
  color: var(--color-a);
  background-color: var(--background);
  border: 2px var(--color-a) solid;
  float: right;
  transition: all .5s;
}
.title{
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: monospace;
  color: var(--);
  text-shadow: 3px 2px 5px var(--color-b);
}
:root {
  --background: gold;
  --color-a: black;
  --color-b:#554348 ;
  --accent: #3ba99c;
}

.App[data-theme='B'] {
  --background: #d4f5f5;
  --color-a: #69385C;
  --color-b: #747578;
}
a{
  text-decoration: none;
}

.container {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:   1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 2px black;
  grid-auto-flow: dense
 
}
.platforms{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding-top: 10px;
  
}

.tracks{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  
  
}
br{
  display: block;
  margin: 50px;
}
@media only screen and  (max-width: 1100px) {

@media only screen and  (max-width: 880px) {

  .logo{
    box-shadow: 2px 3px 7px;
    width: 75px;
    height: 75px;
    border-radius: 25%;
    position: relative;
    margin-top: 20px;
  }
  .cover {
    position:relative;
    width: 135px;
    height: auto;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
    
  
  }
  .cover:hover {
    position:relative;
    width: 145px;
    height: auto;
    z-index:999;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
  
  }
  .platformImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    width: 25px;
    height: auto;
    
  }
  .platforms{
    gap: 0.5rem
  }
  .button {
    padding: 0.25em 0.75em;
  }
}


.nav{
  width: 90%;
}
}
@media only screen and  (max-width: 620px) {

  .logo{
    box-shadow: 2px 3px 7px;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    position: relative;
    margin-top: 20px;
  }
  .cover {
    position:relative;
    width: 85px;
    height: auto;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
  
  }
  .cover:hover {
    position:relative;
    width: 95px;
    height: auto;
    z-index:999;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
  
  }
  .platformImg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 20px;
    height: auto;
    
  }
  .button{
  font-size: 10px;
  }
  .nav {
    width: 100%;
  }
  .container{
    grid-column-gap: 12px;


  }
}
@media only screen and  (max-width: 380px) {

  .nav {
    width: 100%;
  }

  .container{
    grid-column-gap: 10px;

    

  }
  .cover {
    position:relative;
    width: 75px;
    height: auto;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
    
  
  }
  .cover:hover {
    position:relative;
    width: 85px;
    height: auto;
    z-index:999;
    transition: all  .5s;
    transition-timing-function: ease-in-out;
  
  }
}
